/**
    dependences
*/

@import "../module/module";

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


/**
    define defaults...!
*/


html, body, * {
    font-family : IRANSans !important;
}

.rtl, [dir=rtl] {
    text-align  : right;
    direction   : rtl;
}

a {
    text-decoration: none !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.first-loading{
    width: 100vw;
    height: 100vh;
    background: #fff;
    position: relative;
    text-align: center;
    display: flex;
    /* vertical-align: middle; */
    align-items: center;
    justify-content: center;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #ff6f61;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }
  

  .input-loading {

    width: 24px;
    height: 24px;
    margin: 5px 5px 0 0;
    &::before {
    position: absolute;
    display: block;
    content: '';
    z-index: 12;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFF;
  } 
  &:after{
    position: absolute;
    display: block;
    content: '';
    z-index: 11;
    width: 12px;
    height: 12px;
    border-radius: 200px 0 0;
    background: linear-gradient(45deg, rgba(0,0,0,0) 0, rgba(69,154,215,1) 50%, rgba(69,154,215,1) 100%);
    animation: loading .5s linear infinite;
  }
  }

  .mapboxgl-ctrl-attrib-inner{
    display: none !important;
  }