// path of font directory
$path-font : "/public/font/";
$iransans-font : "/theme/scss/font/";

//path of images directory use in backround url prop.
$path-img : "/asset/img";
$path-temp : "/asset/temp";

//colors
$uneed-default-red : rgb(255, 111, 97);
$uneed-default-gray : rgb(110,110,110);
