
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url('./eot/IRANSansWeb_Black.eot');
    src: url('./eot/IRANSansWeb_Black.eot'),
    url('./woff2/IRANSansWeb_Black.woff2'),
    url('./woff/IRANSansWeb_Black.woff'),
    url('./ttf/IRANSansWeb_Black.ttf'),
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('./eot/IRANSansWeb_Bold.eot');
    src: url('./eot/IRANSansWeb_Bold.eot'),
    url('./woff2/IRANSansWeb_Bold.woff2'),
    url('./woff/IRANSansWeb_Bold.woff'),
    url('./ttf/IRANSansWeb_Bold.ttf'),
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('./eot/IRANSansWeb_Medium.eot');
    src: url('./eot/IRANSansWeb_Medium.eot'),
    url('./woff2/IRANSansWeb_Medium.woff2'),
    url('./woff/IRANSansWeb_Medium.woff'),
    url('./ttf/IRANSansWeb_Medium.ttf'),
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('./eot/IRANSansWeb_Light.eot');
    src: url('./eot/IRANSansWeb_Light.eot'),
    url('./woff2/IRANSansWeb_Light.woff2'),
    url('./woff/IRANSansWeb_Light.woff'),
    url('./ttf/IRANSansWeb_Light.ttf'),
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('./eot/IRANSansWeb_UltraLight.eot');
    src: url('./eot/IRANSansWeb_UltraLight.eot'),
    url('./woff2/IRANSansWeb_UltraLight.woff2'),
    url('./woff/IRANSansWeb_UltraLight.woff'),
    url('./ttf/IRANSansWeb_UltraLight.ttf'),
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('./eot/IRANSansWeb.eot');
    src: url('./eot/IRANSansWeb.eot'),
    url('./woff2/IRANSansWeb.woff2'),
    url('./woff/IRANSansWeb.woff'),
    url('./ttf/IRANSansWeb.ttf'),
}