html {
  overflow-y: scroll;
}

.navigation {
  padding: 10px 0;

  .nav-loading-area {
    svg {
      width: 80px;
    }
  }

  .slick-list {
    overflow: unset;
    overflow-x: hidden;
  }
  .navigation-item {
    padding: 15px 0;
    width: auto;
    position: relative;
    display: inline-block;
    text-align: center;
    color: #3c3c3c;
    opacity: 0.7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    // background: rebeccapurple;
    margin: 0 4px;
    min-width: 200px;

    &:hover {
      opacity: 1;
      .icons-block,
      .text {
        color: #ff6f61;
      }
    }

    .icons-block {
      color: rgb(90, 90, 97);
      width: 35px;
      height: 30px;
      margin: auto;
      font-size: 40px;
    }

    .text {
      margin-top: 10px;
      white-space: nowrap;
      display: block;
    }
  }

  .origin-navigation-wrap {
    position: relative;

    .header-carousel {
      overflow: hidden;
      height: 102px;
      &:focus {
        outline: none;
      }
      
      .carousel-cell {
        // width: 66%;
        // height: 100%; /* inherit height from gallery */
        margin-right: 10px;
        // background: #8C8;
        // border-radius: 5px;
        counter-increment: carousel-cell;
      }
      
      /* cell number */
      .carousel-cell:before {
        display: block;
        text-align: center;
        // content: counter(carousel-cell);
        line-height: 200px;
        font-size: 80px;
        color: white;
      }
      
    }
    .nav-slider-arrow {
      position: absolute;
      opacity: 0.5;
      transition: 0.3;
      font-size: 30px !important;
      top: 38px;
      &:hover {
        opacity: 1;
      }
    }
    .nav-slider-arrow.left {
      left: -40px;
    }
    .nav-slider-arrow.right {
      right: -40px;
    }
  }
}
