
.home > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.home > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 75px;
    grid-auto-flow: dense;
}


.big {
    grid-row: span 2;
}

